@mixin mobile-tablet-landscape {
  @media (min-width: 320px) and (max-width: 840px) and (orientation: landscape) {
    article {
      flex-direction: column;

      figure {
        width: 400px;
      }

      .information-container {
        width: 600px;

        strong {
          font-weight: normal;
        }

        .country-container {
          width: 100%;

          padding: 10px;

          h2 {
            margin: 25px 0;

            font-size: 1.8rem;
          }

          p {
            font-size: 1.1rem;
          }
        }

        .border-countries-container {
          max-width: 65%;

          margin: auto;

          .border-countries {
            font-size: 1.4rem;

            margin-bottom: 15px;
          }

          p {
            justify-content: center;
            flex-direction: row;
            flex-wrap: wrap;

            &:last-child {
              margin-bottom: 25px;
            }
          }
        }
      }
    }
  }
}
