@mixin wide {
  @media (min-width: 1281px) {
    article {
      figure {
        width: 600px;
      }

      .information-container {
        width: 500px;

        strong {
          font-weight: normal;
        }

        .country-container {
          width: 100%;

          padding: 10px;

          h2 {
            margin: 25px 0;

            font-size: 2rem;
          }

          p {
            font-size: 1.1rem;
          }
        }

        .border-countries-container {
          max-width: 85%;

          margin: auto;

          .border-countries {
            font-size: 1.6rem;

            margin-bottom: 15px;
          }

          p {
            justify-content: center;

            flex-direction: row;
            flex-wrap: wrap;

            margin: auto;

            width: auto;
          }
        }
      }
    }
  }
}
