@mixin main-component {
  main {
    min-height: 100vh;
  }

  .dark {
    background-color: hsl(207, 26%, 17%);
    color: hsl(0, 0%, 100%);
  }

  .light {
    background-color: #eee;
    color: hsl(200, 15%, 8%);
  }
}
