<app-filter
  [searchFilter]="searchFilter"
  (searchFilterEmitter)="onSearchChange($event)">
</app-filter>

<article>
  <ng-container
    *ngFor="
      let country of countries | filter: searchFilter;
      let index = index;
      trackBy : trackBy">
    <app-country
      *ngIf="index < numberOfShownCountries"
      [country]="country">
    </app-country>
  </ng-container>

  <ng-container *ngIf="isShown">
    <button (click)="onShowMoreClick()">
      Show More
    </button>
  </ng-container>
</article>
