<app-filter
  [searchFilter]="searchFilter"
  [regionFilter]="regionFilter"
  (searchFilterEmitter)="onSearchChange($event)"
  (regionFilterEmitter)="onRegionClick($event)">
</app-filter>

<article>
  <ng-container *ngFor="
      let country of countries | 
      filter: searchFilter | 
      click: regionFilter;
      index as index;
      trackBy : trackBy">

      <ng-container *ngIf="index < numberOfShownCountries">
        <app-country
          [country]="country">
        </app-country>
      </ng-container>
  </ng-container>
</article>

<ng-container *ngIf="isVisibleState$ | async">
  <div class="button-container">
    <button
      [class]="mode$ | async"
      class="show-more-button"
      (click)="onShowMoreClick()">
      Show More
    </button>
  </div>
</ng-container>
